/* Mejoras como: el body para que quitara el los espacios que tenia en los bordes,
   quite el body{ 
        font-family: "Baskervville", serif;
        font-weight: 400;
        font-style: normal;
        }        
    ya que no hacia nada,
    y mejoras en los espacios*/

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;   
}

header{
    background-color: whitesmoke;
    padding: 25px;
    font-size:large;
    font-weight: 400;
    font-style: normal;
    margin: -20px;
    text-align: center;
    width: 100%;
    position: sticky;
    position: fixed;
    z-index: 1000;
    top: 0;

}

.head{
    margin-top: 7rem;
    justify-content: center;
    text-align: center;
}

.container img {
    border-radius: 15%;
    
}

.container{
    margin-top: 4rem;

}

.head-c{
    margin-top: 40px;
    font-size: larger;
    text-align: center;
   
}

#personajes{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Baskervville", serif;
    
}

#personajes div:hover{  
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.head-c{
    margin-top: 250px;
}
.head-c button {
    padding: 8px;
    border-radius: 5px ;
    background-color: whitesmoke;
}

.footer {
    margin-top: 10rem; /* Margen superior */
    background-color: black; /* Color de fondo */
    color: white; /* Color del texto */
    text-align: center; /* Alineación del texto */
    padding: 120px 0; /* Espaciado interno (arriba y abajo) */
    width: 100%; /* Ancho completo */
    margin-left: 0; /* Margen izquierdo a cero */
    margin-right: 0; /* Margen derecho a cero */
}
   
.footer ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}

footer p{
   
    font-family: 'Courier New', Courier, monospace;
    margin-top: 4rem;
    text-align: center;
}